
/* general style */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #849d8f;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

body:not(.inner_page) {
    transition: background-color 3s;
}

.body_background1 {
    background-color: #849d8f;

}

.body_background2 {
    background-color: #8996a6;

}

.body_background3 {
    background-color: #9d8b84;

}


.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}



.outer_container {
    width: 1200px;
    margin: 0 auto;
}



/*general button style*/

.typical_button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient( to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    color: #ffffff;
}

.typical_button:hover,
.typical_button:focus {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 100%),
    linear-gradient( to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
}

.typical_button:active {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0.07) 100%),
    linear-gradient( to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0 2px 2px 0 rgb(148, 39, 24);
    color: #fceeec;
}

/*general input text style*/

.typical_input_text::placeholder {
    font-weight: 400;
    color: #999999;
}

.typical_input_text:-ms-input-placeholder {
    font-weight: 400;
    color: #999999;
}
.typical_input_text::-ms-input-placeholder {
    font-weight: 400;
    color: #999999;
}

.typical_input_text {
    border: 1px solid rgba(178,178,178,0.52);
    color: #323232;
    font-weight: 700;
    border-radius: 4px;
    padding-left: 14px;
}

.typical_input_text:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgba(154,154,154,0.52);
}

.typical_input_text:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px #2e88e1;
}




/* header */

.site_header {
    font-weight: bold;
    padding-top: 10px;
    padding-right: 27px;
    padding-left: 27px;
    color: #ffffff;
    background-color: transparent;
    position: relative;
    z-index: 5;
}


.inner_page .site_header {
    z-index: auto;
}

.site_header a {
    color: #ffffff;

}

.main_logo {
    display: block;
    width: 154px;
    margin: 0;
    padding: 0;
}
.main_logo img {
    display: block;

}


.main_navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navigation_block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 675px;
    min-height: 64px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-top: 13px;
}

.navigation_block li {
    margin-bottom: 15px;
    list-style-type: none;
}

.nav_block_ref {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    position: relative;
    display: block;
    padding: 7px 14px;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 16px;
}

.nav_block_ref:not(.current)::before {
    position: absolute;
    content: "";
    left: 14px;
    right: 14px;
    width: calc(100% - 28px);
    height: 1px;
    top: 25px;
    background-color: rgba(255,255,255,0.3);
}

.nav_block_ref:hover::before {
    opacity: 0;
}



.nav_block_ref.current {
    background-color: rgb(208, 112, 88);
    color: #ffffff;
    text-decoration: none;
}

.navigation_btn_container:hover .nav_block_ref:not(.current),
.nav_block_ref:focus:not(.current){
    color: #323232;
    background-color: #F7F6F3;
    text-decoration: none;
}

.navigation_btn_container:focus-within .nav_block_ref:not(.current){
    color: #323232;
    background-color: #F7F6F3;
    text-decoration: none;
}




.navigation_btn_container:active .nav_block_ref,
.nav_block_ref:active{
    box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.submenu_control {
    position: relative;

}



.submenu_control:hover .catalog_submenu,
.nav_block_ref:focus~.catalog_submenu {
    display: block;
}

.submenu_control:focus-within .catalog_submenu {
    display: block;
}

.submenu_control:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 30px;
    z-index: 2;
}



.catalog_submenu {
    position: absolute;
    display: none;
    z-index: 7;
    top: 37px;
    left: -7px;
    margin-left: 0;
    padding: 0;
    padding-bottom: 5px;
    border-radius: 4px;
    background-color: #F8F7F4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

}

.catalog_submenu li {
    margin: 0;
    list-style-type: none;
}

.catalog_submenu .new_items {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    position: relative;
    padding: 6px 20px;
    color: #323232;
    margin-top: 5px;
    margin-bottom: 10px;
}

.new_items::after {
    position: absolute;
    bottom: -6px;
    left: 6px;
    width:90%;
    content: "";
    text-align: center;
    border-bottom: 1px solid #d1d0ce;


}

.catalog_submenu a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 6px 20px;
    padding-right: 22px;
    white-space: nowrap;
    text-decoration: none;
    color: #323232;
}

.catalog_submenu a:hover,
.catalog_submenu a:focus {
    background-color: #FBDED7;
}

.catalog_submenu a:active {
    background-color: #F6B5A5;
}

.catalog_submenu a.current {
    background-color: #D07058;
}


.header_func_buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    width: 265px;
    min-height: 64px;
    margin-left: auto;
    padding-top: 13px;
}

.header_func_btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.hdr_btn_container {
    margin-bottom: 15px;
    margin-left: 10px;
    position: relative;
}

.header_func_btn {
    position: relative;
    display:block;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 45px;
    vertical-align: middle;
    border-radius: 17px;

}

.site_search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;


}
.site_search_container {
    margin-left: 0;
    position: relative;
}

.site_search_container:hover .search_popup_container,
.site_search:focus~.search_popup_container{
    display: block;
}

.site_search_container:focus-within .search_popup_container{
    display: block;
}




.search_popup_container {
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 5;
    width: 341px;
    height: 84px;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search_form input[type=search] {
    width: 311px;
    height: 44px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.search_form input[type=search]::placeholder {
    font-size: 14px;
    line-height: 44px;
    vertical-align: middle;
}


.login_button svg {
    position: absolute;
    top: 6px;
    left: 18px;
}


.login_container {
    position: relative;
}

.login_container:hover .enter_popup_container,
.login_button:focus~.enter_popup_container {
    display: block;
}


.login_container:focus-within .enter_popup_container {
    display: block;
}


.enter_popup_container {
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 5;
    width: 277px;
    height: 214px;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 17px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

}

.login_form input[type=email],
.login_form input[type=password]{
    width: 241px;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.login_form input[type=email]::placeholder,
.login_form input[type=password]::placeholder{

}

.login_form input{
    margin-bottom: 20px;
}




.login_form input[type=submit]{
    padding: 10px 25px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;


}

.reference_container {
    padding-left: 20px;
    margin-left: auto;
    width: 141px;
    margin-top: -65px;

}

.reference_container a{
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #323232;
}



.reference_container a:hover,
.reference_container a:focus{
    color: #e84d37;
}

.reference_container a:active {
    color: #e84d37;
}


.header_shoping_cart {
    position: relative;
}

.header_shoping_cart svg {
    position: absolute;
    top: 6px;
    left: 15px;
}



.header_shoping_cart.full_cart {
    color: #323232;
    background-color: #F8F7F4;
}


.empty_cart g {
    fill: #ffffff;
}

.empty_cart #cart_full_part {
    opacity: 0;
}

.full_cart g {
    fill: #343434;
}

.full_cart #cart_full_part {
    fill: #E84D37;
}




.hdr_btn_container:hover .header_func_btn,
.header_func_btn:focus {
    color: #323232;
    background-color: #F8F7F4;
}

.hdr_btn_container:focus-within .header_func_btn {
    color: #323232;
    background-color: #F8F7F4;
}

.hdr_btn_container:hover .header_func_btn g,
.header_func_btn:focus g{
    fill:#343434;
}

.hdr_btn_container:focus-within .header_func_btn g{
    fill:#343434;
}


.hdr_btn_container:hover::after,
.hdr_btn_container:focus::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 30px;
    z-index: 2;
}





.popup_shoping_cart_cont {
    position: relative;
}

.cart_container:hover .shoping_cart_container,
.header_shoping_cart:focus~.shoping_cart_container {
    display: block;
}

.cart_container:focus-within .shoping_cart_container {
    display: block;
}


.shoping_cart_container {
    display: none;  /* Временно скрываем */
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 10;
    width: 540px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

}


.item_delete {
    padding: 0;
    width: 11px;
    position: relative;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.item_delete::before,
.item_delete::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    top: 14px;
    left: -2px;
    right: -2px;
    background-color: #231f20;
}

.item_delete::before {
    transform: rotate(45deg);
}

.item_delete::after {
    transform: rotate(-45deg);
}



.items_container {
    margin: 0;
    padding: 0;
}

.item_description {
    list-style-type: none;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    margin-bottom: 20px;
    display: flex;
}

.item_description:last-child {
    margin-bottom: 0;
}

.item_description>span {
    vertical-align: top;
    padding-top: 7px;
}

.item_description>button {
    height: 33px;
}

.item_description>img {
    margin-left: 14px;
    height: 33px;
}


.description {
    margin-left: 14px;
    width: 220px;
    word-wrap: break-word;
}

.cost {
    margin-left: 26px;
}

.price {
    margin-left: 4px;
    color: #999999;
}

.total_price {
    margin-left: 28px;
}

.total_shoping_cart_container {
    margin-top: 16px;
    border-top: 1px solid #cacac7;
    padding-top: 15px;
    text-align: right;
}

.shoping_cart_total_cost {
    display: block;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    color: #323232;
}

.total_shoping_cart_container a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 15px;
    text-decoration: none;
    color: #fefefe;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 13px;

}



.schedule_and_phone {
    display: block;
    width: 295px;
    margin-left: auto;
    text-align: right;
}

.schedule_and_phone .schedule {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    display: block;
    color: #ffffff;
}
.schedule_and_phone .phone {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    display: block;
    margin-top: 3px;
    color: #ffffff;

}


/*slider*/

.slider_container {
    padding-left: 27px;
    padding-right: 27px;
}

.slider {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 446px;

}

.slide {
    position: absolute;
    left: 0;
    top: -117px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    z-index: -1;
    transition: opacity 3s;
}

.active_slide {
    opacity: 1;
    z-index: auto;
}


.slide_img {
    position: relative;
    z-index: -5;
}

.slide_text_container {
    position: absolute;
    top:393px;
    width: 100%;
}

.slide_bait {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 235px;
    padding-right: 235px;
    margin: 0;

}

.slide_ref_container {
    position: absolute;
    top: 543px;
    width: 100%;

}

.slide_btn {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 30px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

}


.switch_btn {
    position: relative;
    z-index: 10;
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: inherit;
    margin-right: 4px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: transparent;
}


.switch_btn.active_btn {
    background-color: #ffffff;
}

.switch_btn:hover:not(.active_btn) {
    background-color: rgba(248, 247, 244,0.4);
}

.switch_btn:active:not(.active_btn) {
    background-color: #ffffff;
}

/* AD block */

.section_ad,
.section_ad a {
    color: #ffffff;
}

.ad_wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    padding-right: 27px;
    padding-left: 27px;



}

.section_ad {
    width: 560px;
    margin-right: 26px;
    padding-top: 17px;
    padding-right: 21px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 15px;
}

.section_ad>* {
    display: block;
}

.section_ad:nth-child(even) {
    margin-right: 0;
}

.ad_jam {
    background: url("../img/raspberry_background.jpg") no-repeat;
    background-position: -50px -94px;
    background-color: #ae1f44;
}

.ad_chockolate {
    background: url("../img/chockolate_background.jpg") no-repeat;
    background-position: -218px -104px;
    background-color: #462b1f;
}

.section_ad .ad_bait {
      font-size: 35px;
      font-weight: bold;
      line-height: 41px;
  }

.section_ad .ad_text {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 15px;
}

.ad_button_container {
    margin-top: 43px;
    text-align: right;
}



.section_ad .ad_btn_reference {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 11px;
    padding-left: 22px;
    text-decoration: none;
}



/*  Наши хиты */

.hit_container {
    margin-top: 40px;
    padding-right: 27px;
    padding-left: 27px;
}

.hit_cards,
.goods_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.product_card {
    position: relative;
    width: 267px;
    margin-right: 26px;
    list-style-type: none;
}




.hit:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    content: "";
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url("../img/hit.svg");

}

.product_card>img {
    border-radius: 50%;

}


.product_card:nth-child(4n) {
    margin-right: 0;
}

.card_price_container{
    position: absolute;
    top: 210px;
    left: -3px;
    margin: 0;
    padding: 0;
}

.card_price,
.ruble_simbol{
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.card_weight {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    margin-left: -5px;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}



.card_reference_container {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    width: 258px;
    text-align: center;
}

.card_reference {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255,255,255,0.3) 2px,
    rgba(255,255,255,0.3) 3px, transparent 3px, transparent);
    background-position: 0 16px;
}

.card_reference:hover,
.card_reference:focus{
    color: #ffbc9e;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255, 188, 158,0.3) 2px,
    rgba(255, 188, 158,0.3) 3px, transparent 3px, transparent);
}



.product_card:hover .card_on_hover_container,
.product_card:focus .card_on_hover_container{
    display:flex;
}

.product_card:focus-within .card_on_hover_container {
    display:flex;
}


.product_card:hover,
.product_card:focus{
    z-index: 5;
}

.product_card:focus-within {
    z-index: 5;
}


.card_on_hover_container {
    position: absolute;
    z-index: -1;
    top: -6px;
    right: -13px;
    left: -13px;
    display: flex;
    padding-bottom: 22px;
    border-radius: 5px;
    background-color: rgba(248, 247, 244,0.2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: calc(100% + 81px);
    display: none;

}

.card_button_container {
    text-align: center;
    margin-top: auto;
    top: 100px;
}

.card_button {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-left: 17px;
    text-decoration: none;
 }



/* Our capability */

.capability_container {
    margin-top: 38px;
    padding-right: 27px;
    padding-left: 27px;
}


.our_capability {
    margin: 0 auto;
    padding: 25px 20px;
    color: #323232;
    border-radius: 15px;
    background: url("../img/wafer_background.jpg") repeat;
    background-color: #ebdec0;



}

.our_capability .capability_whois {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}



.capability_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding-left: 0;
}

.capability_list>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 540px;
    margin-top: 7px;
    padding-top: 14px;
    padding-right: 5px;
    padding-left: 56px;
    list-style-type: none;

}

.capability_list>li:nth-child(odd) {
    margin-right: 25px;
}

.technology {
    background: url("../img/ice_cream.svg") no-repeat;

}

.good_suppliers {
    background: url("../img/cow.svg") no-repeat;
}

.natural_goods {
    background: url("../img/eco.svg") no-repeat;
}

.delivery_condition{
    background: url("../img/thermometer.svg") no-repeat;
}

/*  blog and mailing container */
.blog_and_mailing_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    padding-right: 27px;
    padding-left: 27px;
}

.bam_block {
    width: 560px;
    margin-right: 25px;
    border-radius: 15px;
}

.bam_block:nth-child(even) {
    margin-right: 0;
}

/* Our blog */

.blog_news {
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
    color: #323232;
    background: url("../img/strawberry_background.jpg") no-repeat -52px -225px;
    background-color: #ffffff;


}

.blog_header {
     font-size: 16px;
     font-weight: 500;
     line-height: 22px;
     margin: 0;

 }

.blog_reference_container {
    margin-top: 5px;
    padding-right: 230px;
}

.blog_news .blog_news_reference {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    color: #323232;
    background-image: linear-gradient(to bottom, transparent 20px ,rgb(50,50,50) 20px,
    rgb(50,50,50) 22px, transparent 22px);
    background-position: 0 34px;
    background-color: rgba(255,255,255,0.8);
}

.blog_news_reference:hover {
    color: #e84d37;
    background-image: linear-gradient(to bottom, transparent 20px ,rgb(232, 77, 55) 20px,
    rgb(232, 77, 55) 22px, transparent 22px);
    background-position: 0 34px;
}


/*  Mailing block */

.mailing_section {

    display: flex;
    padding: 5px;
    background: repeating-linear-gradient(135deg,#ffffff, #ffffff 7px, #92cdff 0,
    #92cdff 14px, #ffffff 0, #ffffff 21px, #fe9e90 0, #fe9e90 28px);
}

.base_ground {
    padding: 30px 20px;
    padding-top: 28px;
    padding-left: 22px;
    border-radius: 7px;
    background-color: #f8f7f4;

}

.mailing_section .bait_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    color: #5a5a5a;


}

.mailing_form {
    margin-top: 35px;

}

.mailing_form input[type=email] {
    width: 368px;
    height: 44px;
    padding-left: 14px;
    font-size: 16px;
    line-height: 24px;
}



.mailing_button {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    margin-left: 8px;
    padding-top: 9px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 18px;
    color: #fefefe;
    border: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
 }



/*  Our position and contact info */




.position_map {
    display: block;
    min-width: 1200px;
    min-height: 430px;
    margin-top: 40px;
    color: #323232;
    background: url("../img/map.jpg") no-repeat;
    background-position: center -108px;

}

.position_container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.interactive_map {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.map_pointer {
    position: absolute;
    z-index: 1;
    top: 135px;
    left: 265px;
    width: 200px;
    height: 140px;
    background: url("../img/pin.svg") no-repeat, url("../img/pin_shadow.png") no-repeat 35px 35px ;
}

.contact_info {
    position: relative;
    z-index: 3;
    width: 302px;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.98);
}

.contact_info span {
    display: block;
}

.map_adress_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 100px;
    color: #323232;
}

.map_phone_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 18px;
    color: #323232;
}


.map_address {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #323232;
}

.map_phone {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 5px;
    color: #323232;
}

.map_schedule {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #323232;
}

.map_btn_container {
    margin-top: 23px;
    text-align: center;
}

.map_btn {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 9px;
    padding-right: 27px;
    padding-bottom: 11px;
    padding-left: 28px;
    text-decoration: none;
    color: #fefefe;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}





/* Footer  */


.site_footer {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 30px;
    margin-top: 17px;

}

/*social button*/

.social_button_container {
    display: flex;
    width: 295px;
    padding-top: 18px;
}

.social_button_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.social_button_list>li {
    margin-right: 11px;
    list-style-type: none;

}

.social_button_container a {

    color: #ffffff;
}

.social_btn {
    display: block;
    border-radius: 50%;
    border: solid 3px rgba(255,255,255,0.5);
}

.social_img {
    vertical-align: top;
    border-radius: 50%;
    z-index: -1;
    position: relative;
}


.social_btn:hover,
.social_btn:focus{
    border: solid 3px rgba(255,255,255,0.7);
}

.social_btn:active {
    box-shadow: inset 0 2px 1px 0 rgb(136, 136, 136);
}




/*footer reference*/


.footer_reference_container {
    width: 350px;
    margin-right: 25px;
    margin-left: 105px;
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
}

.footer_reference_list {
    display: flex;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 0;
    margin: 0;
}

.footer_reference_list li {
    min-width: 165px;
    list-style-type: none;
    margin-bottom: 3px;
}

.footer_reference_list li:nth-child(odd) {
    padding-left: 23px;
}


.footer_ref {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255,255,255,0.3) 2px,
    rgba(255,255,255,0.3) 3px, transparent 3px, transparent);
    background-position: 0 12px;

}

.footer_ref.accent_ref {
    font-weight: 700;
    position: relative;

}

.accent_ref::before {
    position: absolute;
    top: 1px;
    left: -23px;
    width: 15px;
    height: 13px;
    content: "";
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}


.footer_ref:hover,
.footer_ref:focus{
    color: #ffbc9e;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255, 188, 158,0.3) 2px,
    rgba(255, 188, 158,0.3) 3px, transparent 3px, transparent);
}




/*author block*/




.author_block_container {
    width: 190px;
    margin-left: auto;

}


.author_ref,
.author_block_container p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #fefefe;

}

.academy_logo {
    display: block;
    margin-top: 2px;
}

.academy_logo img{
    vertical-align: top;

}

.made_in_phrase {
    margin: 0;
    margin-top: 6px;
}

.author_ref {
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255,255,255,0.3) 2px,
    rgba(255,255,255,0.3) 3px, transparent 3px, transparent);
    background-position: 0 11px;
}


.author_ref:hover,
.author_ref:focus{
    color: #ffbc9e;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255, 188, 158,0.3) 2px,
    rgba(255, 188, 158,0.3) 3px, transparent 3px, transparent);
}



/* modal forms  */


.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 9;
    display: none;
}


.feedback_popup_container {

    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: none;
    width: 477px;
    min-height: 442px;
    margin-top: -221px;
    margin-left: -238px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 24px;
    padding-bottom: 27px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

}

.close_btn {
    font: inherit;
    position: absolute;
    top: 15px;
    right: 16px;
    padding: 0;
    cursor: pointer;
    color: inherit;
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
}

.close_btn::before,
.close_btn::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    top: 7px;
    left: -2px;
    right: -2px;
    background-color: #231f20;
}

.close_btn::before {
    transform: rotate(45deg);
}

.close_btn::after {
    transform: rotate(-45deg);
}


.feedback_form p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    color: #323232;

}


.feedback_form input[name=name] {
    width: 267px;
    height: 44px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24;
}

.feedback_form input[name=email] {
    width: 267px;
    height: 44px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24;
}

.feedback_form textarea {
    width: 428px;
    min-height: 155px;
    margin-top: 20px;
    /*resize: none;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 7px;

}



.feedback_btn_container {
    text-align: right;
}


.feedback_form input[type=submit] {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 24px;
    color: #fefefe;
    outline: none;

}


/* catalog page */



.main_header_wrapper {
    position: relative;
    padding-right: 27px;
    padding-left: 27px;

}

.main_header {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    margin: 0;
    margin-top: 2px;
    color: #ffffff;
}

.breadcrumbs {
    position: absolute;
    z-index: 1;
    top: -22px;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.breadcrumbs li {
    margin-right: 20px;
    list-style-type: none;
    position: relative;
}

.breadcrumbs li:nth-child(n+2)::before {
    content: "»";
    position: absolute;
    left: -13px;
    top: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
}


.breadcrumbs_ref {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumbs_ref:not(.active) {
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255,255,255,0.3) 2px,
    rgba(255,255,255,0.3) 3px, transparent 3px, transparent);
    background-position: 0 13px;
}


.breadcrumbs_ref:hover:not(.active),
.breadcrumbs_ref:focus:not(.active){
    color: #ffbc9e;
    background-image: linear-gradient(to bottom, transparent, transparent 2px,rgba(255, 188, 158,0.3) 2px,
    rgba(255, 188, 158,0.3) 3px, transparent 3px, transparent);
}


/*Filter block*/

.catalog_filter {
    padding-right: 27px;
    padding-left: 27px;
    margin-top: 11px;
}

.filter_form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.fieldset_container {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
}

.fieldset_label {
    display: block;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 5px;
}

.elem_container {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 17px;
    background-color: rgba(248, 247, 244,0.2);
}

.select_container {
    padding: 0;
    height: 36px;
}


.select_sorting {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    height: 100%;
    padding-left: 16px;
    padding-right: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}

.select_sorting::-ms-expand {
    display: none;
}

.select_container {
    position: relative;
}

.select_container::after {
    position: absolute;
    z-index: auto;
    content: "";
    top: 13px;
    right: 16px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 10px solid #ffffff;


}

.sorting_container:hover .select_sorting{
    color: #323232;
}

.sorting_container:hover .select_container::after{
    border-top: 10px solid #323232;
    pointer-events: none;
}

.select_sorting:focus{
    color: #323232;
}

.sorting_container:focus-within .select_container::after {
    border-top: 10px solid #323232;
}

.double_range_container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 21px;
    padding-right: 21px;
}

.double_range {
    position: relative;
    height: 36px;
    width: 176px;
    background-color: transparent;
    overflow: hidden;
}


.scale {
    margin-top: 16px;
    height: 4px;
    background-color: rgba(248, 247, 244,0.5);
}

.middle_scale {
    margin-left: 22px;
    width: 100px;
    height: 4px;
    background-color: #f8f7f4;
}


.elem_slider {
    position: absolute;
    box-sizing: content-box;
    top: 8px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.slider_min {
    left: 12px;
}
.slider_max {
    left: 110px;
}

.fat_radio_container {
    padding-left: 13px;
    padding-right: 17px;
}


.fat_radio {
    position: absolute;
}
.fat_radio + label {
    position: relative;
    padding: 0 0 0 31px;
    cursor: pointer;
}

.fat_radio + label:not(:last-child) {
    margin-right: 15px;
}


.fat_radio + label::before {
    content: '';
    position: absolute;
    box-sizing: content-box;
    top: -2px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 4px solid #ffffff;
    border-radius: 50%;
}
.fat_radio + label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0;
}
.fat_radio:checked + label::after {
    opacity: 1;
}


.fat_radio:disabled + label::after {
    background-color: rgba(255,255,255,0.4);
}

.fat_radio:disabled + label::before {
    border-color: rgba(255,255,255,0.4);
}


.fillers_checkbox_container {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.fillers_checkbox {
    position: absolute;
}

.fillers_checkbox + label {
    position: relative;
    padding: 0 0 0 33px;
    cursor: pointer;
}

.fillers_checkbox + label:not(:last-child) {
    margin-right: 16px;
}


.fillers_checkbox + label::before,
.fillers_checkbox + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 20px;
    background: url("../img/checkbox_off.svg") no-repeat left top;
}


.fillers_checkbox + label::after {
    background-image: url("../img/checkbox_on.svg");
    opacity: 0;
}

.fillers_checkbox:checked + label::before {
    opacity: 0;
}

.fillers_checkbox:checked + label::after {
    opacity: 1;
}

.fillers_checkbox:disabled + label::before {
    opacity: 0.4;
}

.fillers_checkbox:disabled:checked + label::after {
    opacity: 0.4;
}

.fillers_checkbox:disabled:checked + label::before {
    opacity: 0;
}




.submit_container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
}

.filter_btn_container {
    margin-top: auto;
    padding: 0;
    background-color: transparent;
}

.filter_btn {
    width: 143px;
    height: 36px;
    border-radius: 17px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    box-shadow: inset 0 0 0 2px #ffffff;
    background-color: rgba(248, 247, 244,0.2);

}


.filter_btn:hover {
    color: #323232;
    background-color: #ffffff;
}


.filter_btn:active {
    box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}



/*catalog*/

.creamy_catalog_container {
    display: flex;
    margin-top: 40px;
    padding-right: 27px;
    padding-left: 27px;
}

.goods_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.goods_cards .product_card {
    margin-bottom: 38px;
}


.pagination_container {
    padding-left: 27px;
    padding-right: 27px;
    margin-top: 44px;

}

.pagination_list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    list-style-type: none;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.3);

}

.pagination_list>li {
    margin-right: 3px;
}

.pagination_list>li:last-child {
    margin-right: 0;
}


.pagination_ref {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
}

.right_arrow_item {
    position: relative;
    margin-left: 8px;
}

.right_arrow_item::after {
    position: absolute;
    top: -3px;
    right: 2px;
    content: '';
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(225deg);
}

.left_arrow_item {
    position: relative;
    margin-right: 8px;
}

.left_arrow_item::before {
    position: absolute;
    top: -3px;
    right: 2px;
    content: '';
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(45deg);
}
.pagination_ref.disable_item::before,
.pagination_ref.disable_item::after {
    border-color: rgba(255,255,255,0.2);
}

.disable_item {
    cursor: default;
}

.pagination_num_ref.current_page{
    background-color: #ffffff;
    color: #323232;
}

.pagination_num_ref:hover:not(.current_page),
.pagination_num_ref:focus:not(.current_page){
    background-color: rgba(255,255,255,0.2);
}

.pagination_num_ref:active:not(.current_page) {
    background-color: #ffffff;
    color: #323232;
}

